@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

html, body {
  width: 100%; }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  width: 100%; }

.header h1 {
  color: #e07d7d;
  font-size: 3em;
  margin-right: 20px; }

.header button {
  font-size: 1.5em;
  padding: 10px;
  background-color: #6dcea1;
  color: white;
  border: none; }

.header button:hover {
  background-color: #278056; }

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1199px) {
    .note-container {
      flex-direction: row;
      flex-wrap: wrap; } }

.note {
  width: 400px;
  height: 400px;
  background-color: #cddddd;
  box-shadow: 2px 5px 16px 1px rgba(0, 0, 0, 0.49);
  color: white;
  margin: 50px 50px; }

.note h1 {
  background-color: #7b7c7c;
  color: #35c4e7;
  font-size: 1.5em;
  padding: 5px; }

.note textarea {
  width: 398px;
  height: 361px;
  overflow: hidden;
  font-size: 1.5em;
  resize: none; }

.excluir {
  color: #a01414;
  text-decoration: underline;
  float: right;
  cursor: pointer; }

.excluir:hover {
  color: black; }
