* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body, header {
    width: 100%;
}

body {
    background: #001e38;
}

.drop {
    border: 2.5px dashed #001e38;
}

@import url('./tasks_wrap.css');
@import url('./add_task-modal.css');
@import url('./header.css');