* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background: url('../images/background.jpg') fixed center center no-repeat;
    background-size: cover;
}

html, body {
    width: 100%;
}

.drop {
    border: 1px dashed #000;
}

@import url('./tasks_wrap.css');
@import url('./add_task-modal.css');