.tasks_wrap {
    background: rgba(0, 0, 0, 0.5);;
    max-width: 1400px;
    margin: 80px auto 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    .tasks_wrap-title  h1{
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8em;
    }

.tasks_wrap-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .tasks_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        margin-right: 20px;

        width: 100%;
    }

    .tasks_container:last-of-type {
        margin-right: 0;
    }

    .add_task_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropzone {
        padding: 20px;
        margin-top: 20px;
    }

        .none {
            display: flex;
            align-items: center;
            justify-content: center !important;
        }

    .tasks_container ul {
        width: 100%;
    }

    .tasks_container ul li {
        background: #fff;
        color: #3b3a3a;
        list-style: none;
        padding: 5px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
    }

        .tasks_container ul li:first-of-type {
            margin: 0;
        }

        .tasks_container ul li .task_actions {
            display: flex;
        }

        .tasks_container ul li .task_actions button {
            background: transparent;
            margin: 0;
            padding: 0;
            display: flex;
        }
            .edit_btn .material-icons {
                color: #2074d8;
                font-size: 1.1em;
            }

            .delete_btn .material-icons {
                color: #890800;
                font-size: 1.1em;
            }

        .add_task_container button {
            background: #729e0c;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            padding: 10px;
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 1.1em;
        }

        .tasks_container-title h2 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4em;    
        }